.sidemenu{
    position: absolute;
    height: 100%;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    z-index: 1111;
    width: 244px ;
}
.logoimg{
    width: 97px;
    height: 47px;
}
.css-19opgx6-MuiFormControlLabel-root{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.css-13lvt8g-MuiButtonBase-root-MuiRadio-root{
    padding: 0 !important;
    
}
.css-13lvt8g-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #FF4C51 !important;
}
.red .css-13lvt8g-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #FF4C51 !important;
}
.yellow .css-13lvt8g-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    color: #ffb300 !important;
}
.css-z8nmqa-MuiSvgIcon-root{
    width: 0.9em !important;
    height: 0.9em !important;
}
.css-1bz1rr0-MuiSvgIcon-root{
    width: 0.9em !important;
    height: 0.9em !important;
}
